# See https://atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Open Sesame'
      'submenu': [
        { 'label': 'Open file under cursor', 'command': 'open-sesame:open-file-under-cursor' }
      ]
    ]
  }
]
